* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/ESTCTagLib/DBTest.java -text
src/main/java/ESTCTagLib/ESTCTagLibBodyTagSupport.java -text
src/main/java/ESTCTagLib/ESTCTagLibTagSupport.java -text
src/main/java/ESTCTagLib/README.txt -text
src/main/java/ESTCTagLib/Sequence.java -text
src/main/java/ESTCTagLib/author/Author.java -text
src/main/java/ESTCTagLib/author/AuthorByYearIterator.java -text
src/main/java/ESTCTagLib/author/AuthorDeleter.java -text
src/main/java/ESTCTagLib/author/AuthorID.java -text
src/main/java/ESTCTagLib/author/AuthorIterator.java -text
src/main/java/ESTCTagLib/author/AuthorPid.java -text
src/main/java/ESTCTagLib/bookseller/Bookseller.java -text
src/main/java/ESTCTagLib/bookseller/BooksellerByYearIterator.java -text
src/main/java/ESTCTagLib/bookseller/BooksellerDeleter.java -text
src/main/java/ESTCTagLib/bookseller/BooksellerID.java -text
src/main/java/ESTCTagLib/bookseller/BooksellerIterator.java -text
src/main/java/ESTCTagLib/bookseller/BooksellerPid.java -text
src/main/java/ESTCTagLib/establishment/Establishment.java -text
src/main/java/ESTCTagLib/establishment/EstablishmentDeleter.java -text
src/main/java/ESTCTagLib/establishment/EstablishmentEid.java -text
src/main/java/ESTCTagLib/establishment/EstablishmentEstablishment.java -text
src/main/java/ESTCTagLib/establishment/EstablishmentIterator.java -text
src/main/java/ESTCTagLib/establishmentIn/EstablishmentIn.java -text
src/main/java/ESTCTagLib/establishmentIn/EstablishmentInDeleter.java -text
src/main/java/ESTCTagLib/establishmentIn/EstablishmentInEstablishmentId.java -text
src/main/java/ESTCTagLib/establishmentIn/EstablishmentInEstcId.java -text
src/main/java/ESTCTagLib/establishmentIn/EstablishmentInIterator.java -text
src/main/java/ESTCTagLib/establishmentIn/EstablishmentInLlocationId.java -text
src/main/java/ESTCTagLib/establishmentIn/EstablishmentInLocational.java -text
src/main/java/ESTCTagLib/gazetteer/Gazetteer.java -text
src/main/java/ESTCTagLib/gazetteer/GazetteerDeleter.java -text
src/main/java/ESTCTagLib/gazetteer/GazetteerIterator.java -text
src/main/java/ESTCTagLib/gazetteer/GazetteerMoemlId.java -text
src/main/java/ESTCTagLib/gazetteer/GazetteerTitle.java -text
src/main/java/ESTCTagLib/located/Located.java -text
src/main/java/ESTCTagLib/located/LocatedDeleter.java -text
src/main/java/ESTCTagLib/located/LocatedIterator.java -text
src/main/java/ESTCTagLib/located/LocatedLid.java -text
src/main/java/ESTCTagLib/located/LocatedPid.java -text
src/main/java/ESTCTagLib/location/Location.java -text
src/main/java/ESTCTagLib/location/LocationDeleter.java -text
src/main/java/ESTCTagLib/location/LocationIterator.java -text
src/main/java/ESTCTagLib/location/LocationLid.java -text
src/main/java/ESTCTagLib/location/LocationLocation.java -text
src/main/java/ESTCTagLib/locationIn/LocationIn.java -text
src/main/java/ESTCTagLib/locationIn/LocationInDeleter.java -text
src/main/java/ESTCTagLib/locationIn/LocationInEstcId.java -text
src/main/java/ESTCTagLib/locationIn/LocationInIterator.java -text
src/main/java/ESTCTagLib/locationIn/LocationInLocationId.java -text
src/main/java/ESTCTagLib/locationIn/LocationInLocational.java -text
src/main/java/ESTCTagLib/locationIn/LocationInSublocationId.java -text
src/main/java/ESTCTagLib/match/Match.java -text
src/main/java/ESTCTagLib/match/MatchDeleter.java -text
src/main/java/ESTCTagLib/match/MatchID.java -text
src/main/java/ESTCTagLib/match/MatchIterator.java -text
src/main/java/ESTCTagLib/match/MatchMoemlId.java -text
src/main/java/ESTCTagLib/match/MatchSeqnum.java -text
src/main/java/ESTCTagLib/match/MatchTag.java -text
src/main/java/ESTCTagLib/mtag/Mtag.java -text
src/main/java/ESTCTagLib/mtag/MtagDeleter.java -text
src/main/java/ESTCTagLib/mtag/MtagID.java -text
src/main/java/ESTCTagLib/mtag/MtagIndicator1.java -text
src/main/java/ESTCTagLib/mtag/MtagIndicator2.java -text
src/main/java/ESTCTagLib/mtag/MtagIterator.java -text
src/main/java/ESTCTagLib/mtag/MtagTag.java -text
src/main/java/ESTCTagLib/person/Person.java -text
src/main/java/ESTCTagLib/person/PersonDeleter.java -text
src/main/java/ESTCTagLib/person/PersonFirstName.java -text
src/main/java/ESTCTagLib/person/PersonGenderFemale.java -text
src/main/java/ESTCTagLib/person/PersonIterator.java -text
src/main/java/ESTCTagLib/person/PersonLastName.java -text
src/main/java/ESTCTagLib/person/PersonPid.java -text
src/main/java/ESTCTagLib/personAt/PersonAt.java -text
src/main/java/ESTCTagLib/personAt/PersonAtDeleter.java -text
src/main/java/ESTCTagLib/personAt/PersonAtEstablishmentId.java -text
src/main/java/ESTCTagLib/personAt/PersonAtEstcId.java -text
src/main/java/ESTCTagLib/personAt/PersonAtIterator.java -text
src/main/java/ESTCTagLib/personAt/PersonAtLocational.java -text
src/main/java/ESTCTagLib/personAt/PersonAtPersonId.java -text
src/main/java/ESTCTagLib/personAtByYear/PersonAtByYear.java -text
src/main/java/ESTCTagLib/personAtByYear/PersonAtByYearCount.java -text
src/main/java/ESTCTagLib/personAtByYear/PersonAtByYearDeleter.java -text
src/main/java/ESTCTagLib/personAtByYear/PersonAtByYearEid.java -text
src/main/java/ESTCTagLib/personAtByYear/PersonAtByYearIterator.java -text
src/main/java/ESTCTagLib/personAtByYear/PersonAtByYearLocational.java -text
src/main/java/ESTCTagLib/personAtByYear/PersonAtByYearPid.java -text
src/main/java/ESTCTagLib/personAtByYear/PersonAtByYearPubyear.java -text
src/main/java/ESTCTagLib/personAuthority/PersonAuthority.java -text
src/main/java/ESTCTagLib/personAuthority/PersonAuthorityAlias.java -text
src/main/java/ESTCTagLib/personAuthority/PersonAuthorityDefined.java -text
src/main/java/ESTCTagLib/personAuthority/PersonAuthorityDefinedToNow.java -text
src/main/java/ESTCTagLib/personAuthority/PersonAuthorityDeleter.java -text
src/main/java/ESTCTagLib/personAuthority/PersonAuthorityID.java -text
src/main/java/ESTCTagLib/personAuthority/PersonAuthorityIterator.java -text
src/main/java/ESTCTagLib/personAuthority/PersonAuthorityPid.java -text
src/main/java/ESTCTagLib/personIn/PersonIn.java -text
src/main/java/ESTCTagLib/personIn/PersonInDeleter.java -text
src/main/java/ESTCTagLib/personIn/PersonInEstcId.java -text
src/main/java/ESTCTagLib/personIn/PersonInIterator.java -text
src/main/java/ESTCTagLib/personIn/PersonInLocationId.java -text
src/main/java/ESTCTagLib/personIn/PersonInLocational.java -text
src/main/java/ESTCTagLib/personIn/PersonInPersonId.java -text
src/main/java/ESTCTagLib/personInByYear/PersonInByYear.java -text
src/main/java/ESTCTagLib/personInByYear/PersonInByYearCount.java -text
src/main/java/ESTCTagLib/personInByYear/PersonInByYearDeleter.java -text
src/main/java/ESTCTagLib/personInByYear/PersonInByYearIterator.java -text
src/main/java/ESTCTagLib/personInByYear/PersonInByYearLid.java -text
src/main/java/ESTCTagLib/personInByYear/PersonInByYearLocational.java -text
src/main/java/ESTCTagLib/personInByYear/PersonInByYearPid.java -text
src/main/java/ESTCTagLib/personInByYear/PersonInByYearPubyear.java -text
src/main/java/ESTCTagLib/printer/Printer.java -text
src/main/java/ESTCTagLib/printer/PrinterByYearIterator.java -text
src/main/java/ESTCTagLib/printer/PrinterDeleter.java -text
src/main/java/ESTCTagLib/printer/PrinterID.java -text
src/main/java/ESTCTagLib/printer/PrinterIterator.java -text
src/main/java/ESTCTagLib/printer/PrinterPid.java -text
src/main/java/ESTCTagLib/publication/Publication.java -text
src/main/java/ESTCTagLib/publication/PublicationBibLevel.java -text
src/main/java/ESTCTagLib/publication/PublicationDate1.java -text
src/main/java/ESTCTagLib/publication/PublicationDate2.java -text
src/main/java/ESTCTagLib/publication/PublicationDateStatus.java -text
src/main/java/ESTCTagLib/publication/PublicationDeleter.java -text
src/main/java/ESTCTagLib/publication/PublicationDimensions.java -text
src/main/java/ESTCTagLib/publication/PublicationExtent.java -text
src/main/java/ESTCTagLib/publication/PublicationForm.java -text
src/main/java/ESTCTagLib/publication/PublicationGac.java -text
src/main/java/ESTCTagLib/publication/PublicationID.java -text
src/main/java/ESTCTagLib/publication/PublicationIllustrations.java -text
src/main/java/ESTCTagLib/publication/PublicationIterator.java -text
src/main/java/ESTCTagLib/publication/PublicationLanguage.java -text
src/main/java/ESTCTagLib/publication/PublicationLocation.java -text
src/main/java/ESTCTagLib/publication/PublicationMultiLevel.java -text
src/main/java/ESTCTagLib/publication/PublicationOther.java -text
src/main/java/ESTCTagLib/publication/PublicationPubLocation.java -text
src/main/java/ESTCTagLib/publication/PublicationPublisher.java -text
src/main/java/ESTCTagLib/publication/PublicationRecType.java -text
src/main/java/ESTCTagLib/publication/PublicationRemainder.java -text
src/main/java/ESTCTagLib/publication/PublicationTitle.java -text
src/main/java/ESTCTagLib/publisher/Publisher.java -text
src/main/java/ESTCTagLib/publisher/PublisherByYearIterator.java -text
src/main/java/ESTCTagLib/publisher/PublisherDeleter.java -text
src/main/java/ESTCTagLib/publisher/PublisherID.java -text
src/main/java/ESTCTagLib/publisher/PublisherIterator.java -text
src/main/java/ESTCTagLib/publisher/PublisherPid.java -text
src/main/java/ESTCTagLib/record/Record.java -text
src/main/java/ESTCTagLib/record/RecordC001.java -text
src/main/java/ESTCTagLib/record/RecordC003.java -text
src/main/java/ESTCTagLib/record/RecordC005.java -text
src/main/java/ESTCTagLib/record/RecordC008.java -text
src/main/java/ESTCTagLib/record/RecordC009.java -text
src/main/java/ESTCTagLib/record/RecordDeleter.java -text
src/main/java/ESTCTagLib/record/RecordID.java -text
src/main/java/ESTCTagLib/record/RecordIterator.java -text
src/main/java/ESTCTagLib/record/RecordLeader.java -text
src/main/java/ESTCTagLib/session/Session.java -text
src/main/java/ESTCTagLib/session/SessionDeleter.java -text
src/main/java/ESTCTagLib/session/SessionFinish.java -text
src/main/java/ESTCTagLib/session/SessionFinishToNow.java -text
src/main/java/ESTCTagLib/session/SessionID.java -text
src/main/java/ESTCTagLib/session/SessionIterator.java -text
src/main/java/ESTCTagLib/session/SessionStart.java -text
src/main/java/ESTCTagLib/session/SessionStartToNow.java -text
src/main/java/ESTCTagLib/subtag/Subtag.java -text
src/main/java/ESTCTagLib/subtag/SubtagCode.java -text
src/main/java/ESTCTagLib/subtag/SubtagDeleter.java -text
src/main/java/ESTCTagLib/subtag/SubtagID.java -text
src/main/java/ESTCTagLib/subtag/SubtagIterator.java -text
src/main/java/ESTCTagLib/subtag/SubtagTag.java -text
src/main/java/ESTCTagLib/subtag/SubtagValue.java -text
src/main/java/ESTCTagLib/user/User.java -text
src/main/java/ESTCTagLib/user/UserCreated.java -text
src/main/java/ESTCTagLib/user/UserCreatedToNow.java -text
src/main/java/ESTCTagLib/user/UserDeleter.java -text
src/main/java/ESTCTagLib/user/UserEmail.java -text
src/main/java/ESTCTagLib/user/UserFirstName.java -text
src/main/java/ESTCTagLib/user/UserHandle.java -text
src/main/java/ESTCTagLib/user/UserID.java -text
src/main/java/ESTCTagLib/user/UserIsAdmin.java -text
src/main/java/ESTCTagLib/user/UserIsApproved.java -text
src/main/java/ESTCTagLib/user/UserIterator.java -text
src/main/java/ESTCTagLib/user/UserLastLogin.java -text
src/main/java/ESTCTagLib/user/UserLastLoginToNow.java -text
src/main/java/ESTCTagLib/user/UserLastName.java -text
src/main/java/ESTCTagLib/user/UserPassword.java -text
src/main/java/ESTCTagLib/variant/Variant.java -text
src/main/java/ESTCTagLib/variant/VariantDeleter.java -text
src/main/java/ESTCTagLib/variant/VariantIterator.java -text
src/main/java/ESTCTagLib/variant/VariantMoemlId.java -text
src/main/java/ESTCTagLib/variant/VariantSeqnum.java -text
src/main/java/ESTCTagLib/variant/VariantVariant.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/Model.sql -text
src/non-packaged-resources/authority.sql -text
src/non-packaged-resources/functions.tld -text
src/non-packaged-resources/lda_views.sql -text
src/non-packaged-resources/navigation_views.sql -text
src/non-packaged-resources/tags.tld -text
src/non-packaged-resources/visualization_views.sql -text
src/test/java/ESTCTagLib/README.txt -text
src/test/resources/README.txt -text
